.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-bottom: -20px; /* Adjust as needed */
}
.carousel-indicators button {
    opacity: 1 !important; /* Set opacity to 100% */
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000; 
    font-size: 0.8cm;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-dialog.modal-xl {
    width: 30cm;
    margin: auto;
    margin-left: -8cm;
}
.showing{
    min-height: 10cm;
    max-height: 10cm;
}
.myBtn{
    text-align: center; /* Center text and icon */
    display: inline-flex; /* Use flex to align icon and text */
    align-items: center; /* Vertically center align icon and text */
    justify-content: center; /* Horizontally center align icon and text */
    height: 1.3cm;
    border-radius: 0!important;
}

/* Override Bootstrap default carousel control styles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Sets the background color of the arrow icons to black */
    border-radius: 50%; /* Optional: makes the background a circle */
}

.carousel-control-prev-icon {
    background-size: 1em 1em; /* Adjusts the size of the icon */
}

.carousel-control-next-icon {
    background-size: 1em 1em; /* Adjusts the size of the icon */
}
.text2{
    font-size: 30px;
}
.text1{
    font-size: 20px; 
}
.btn{
    font-size: 16px;
}

@media (max-width: 1200px) {
    .modal-dialog.modal-xl {
      margin-left: -4cm;  
  }
  .text2{
    font-size: 28px;
}
.text1{
    font-size: 18px; 
}
.btn{
    font-size: 15px;
}
}
  @media (max-width: 992px) {
    .modal-dialog.modal-xl {
      margin-left: 0;
  }
  .text2{
    font-size: 24px;
}
.text1{
    font-size: 17px; 
}
.btn{
    font-size: 13px;
    
}
.cart{
    width: 0.6cm ;
}
  }
  
  @media (max-width: 576px) {
    .modal-dialog {
      max-width: 100%;
      margin: 0 10px; /* Add some padding */
    }
    .text2{
        font-size: 22px;
    }
    .text1{
        font-size: 15px; 
    }
    .btn{
        font-size: 13px;
    }
    .cart{
        width: 0.6cm ;
    }
  }
